PORT=5000
MONGO_URI=mongodb://KhabarDeklo:vzh1fy768HtrWC9z@ac-om26ilg-shard-00-00.zwqxtll.mongodb.net:27017,ac-om26ilg-shard-00-01.zwqxtll.mongodb.net:27017,ac-om26ilg-shard-00-02.zwqxtll.mongodb.net:27017/?authSource=admin&replicaSet=atlas-ybe72f-shard-0&retryWrites=true&w=majority&tls=true
ACCESS_TOKEN_SECRET=replace_with_strong_access_secret
REFRESH_TOKEN_SECRET=replace_with_strong_refresh_secret
ACCESS_TOKEN_EXPIRES=15m
REFRESH_TOKEN_EXPIRES=7d
FRONTEND_URL=http://localhost:3000
ADMIN_URL=http://localhost:3001
DEFAULT_ADMIN_NAME=Super Admin
DEFAULT_ADMIN_EMAIL=admin@khabardeklo.com
DEFAULT_ADMIN_PASSWORD=Admin@123
REVALIDATE_SECRET=replace_with_strong_revalidate_secret